# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Data User\Desktop\UTN\3ro\Diseño de Sistemas\DDS-Grupo8\Ejercicios\FamiliaDeProductos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
