*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #FFF4E3;
    font-family: 'Roboto', sans-serif;
}

.main_container {
    font-family: 'Robot', sans-serif;
}

.titulo {
    margin: auto;
    width: 100vw;
    background-color: #FFBD59;
    font-family: Roboto;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 20px;
}

.subtitulo {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    color: #FFBD59;
    font-weight: bold;
}

form {
    min-width: 300px;
    max-width: 25%;
    top: 50%;
    left: 50%;
    align-items: center;
    margin: 0 auto;
}

.form1 {
    padding: 35px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    margin: 80px auto 15px;
}

.form2 {
    padding: 35px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 

.grid-item .text-input {
    background-color: #F0F0F0;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    color: grey;
}

.boton {
    background-color: #FFBD59;
    Opacity: 4;
    color: white;
    border: none;
    height: 40px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    margin: 15px;
    transition: transform .5s;
    text-decoration: none;
}

.boton:hover{
    transform: scale(1.1);
}

.no-tiene-cuenta {
    text-align: center;
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

.olvido {
    text-align: center;
    font-size: 12px;
}