
.tabla {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 10px;
    text-align: center;
}

.publicacion {
    margin: 15px;
    padding: 10px;
    align-content: center;
    margin:auto;
    border-radius: 20px;
    background: white;
    grid-gap: 20px;
}

.publicacion img{
    margin-top: 20px;
    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s all ease;
    margin: 20px;
}

.aviso {
    margin: 10px;
    align-content: center;
    margin:auto;
}

.imgAviso {
    width: 200px;
    height: 200px;
    align-content: center;
}

.subtitulo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 95px;
}

.subtitulo3 {
    color: #446666;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.titulo2 {
    text-decoration: underline;
}

.boton {
    background-color: #96D7EC;
    color: white;
    border: none;
    height: 30px;
    width: 40%;
    text-align: center;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .5s;
}



.boton:hover{
    transform: scale(1.1);
}

h3 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-align: center;
}

.img:hover {
    transform: scale(0.9);
}

@media (max-width:850px) {
    .tabla {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
    }
}

.boton1 {
    background-color: #96D7EC;
    color: white;
    border: none;
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    width: 50%;
    text-align: center;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    transition: transform .5s;
    margin-bottom: 35px;
}

.boton1:hover{
    transform: scale(1.1);
}

.texto {
    color: black;
    font-size: 18px;
    padding-top: 5px;
    display: block;
    text-align: center;
}

.datos {
    font-style:italic;
    font-family: Arial;
}
