.subtitulo {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-align: center;
    padding-top: 95px;
}

.subtitulo3 {
    color: #8dc0c0;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.datos {
    font-style:italic;
    font-family: Arial;
}

.tabla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 10px;
    text-align: center;
}

.publicacion {
    margin: 15px;
    padding: 10px;
    align-content: center;
    margin:auto;
    border-radius: 20px;
    background: white;
    grid-gap: 20px;
}

.publicacion img{
    margin-top: 20px;
    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s all ease;
    margin: 20px;
}

.text-input {
    background-color: #F0F0F0;
    height: 40px;
    width: 35%;
    max-width: 350px;
    margin: 10px;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    color: grey;
}

.boton {
    background-color: #96D7EC;
    color: white;
    border: none;
    height: 25px;
    width: 30%;
    text-align: center;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .5s;
}

.boton:hover{
    transform: scale(1.1);
}

.imgAviso {
    width: 600px;
    height: 300px;
    align-content: center;
}