*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url("/img/fondo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    letter-spacing: 15px;
    color: #9DCFC5;
    text-align: center;
    padding: 20px;
}

.logo {
    margin: auto;    
    display: block;
}

.boton1 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:6%;
    top:35%;
}

.boton1:hover{
    transform: scale(1.2);
}

.boton2 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:24%;
    top:70%;
}

.boton2:hover{
    transform: scale(1.2);
}

.boton3 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:39%;
    top:45%;
}

.boton3:hover{
    transform: scale(1.2);
}

.boton4 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:60%;
    top:25%;
}

.boton4:hover{
    transform: scale(1.2);
}

.boton5 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:65%;
    top:59%;
}

.boton5:hover{
    transform: scale(1.2);
}

.boton6 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    right:6%;
    top:30%;
}

.boton6:hover{
    transform: scale(1.2);
}
.nav{
    font-size: 13px;
    font-style: normal;
    font-family: 'Roboto';
}

.mi-cuenta {
    background-color: #CB93F6;
    color: white;
    border: none;
    width: 8.5%;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    padding: 13px;
    position: absolute;
    right: 3%;
    top: 4%;
    transition: all 0.3s ease 0s;
}

.mi-cuenta:hover {
    background-color: #E5C6FE;

}

nav ul li:hover ul{
    display: block;
}

.submenu {
    position: absolute;
    align-items: center;
    display: none;
    align-content: center;
    right: 3.1%;
    top:8%;
    background: #E5C6FE;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

nav ul li ul a:hover {
    background-color: #CB93F6;
    border-radius: 10px;
}

.submenu li a {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    color: white;
}