*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url("/img/fondo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    letter-spacing: 15px;
    color: #9DCFC5;
    text-align: center;
    padding: 20px;
}

.logo {
    margin: auto;    
    display: block;
}

.boton1 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    right: 67%;
    top:35%;
}
.img1{
    width: 55%;
}
.img2{
    width: 25%;
}
.img3{
    width: 45%;
}

.boton1:hover{
    transform: scale(1.2);
}

.boton2 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:13%;
    top:75%;
}

.boton2:hover{
    transform: scale(1.2);
}

.boton3 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:28%;
    top:45%;
}

.boton3:hover{
    transform: scale(1.2);
}

.boton4 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:45%;
    top:25%;
}

.boton4:hover{
    transform: scale(1.2);
}

.boton5 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    left:55%;
    top:52%;
}

.boton5:hover{
    transform: scale(1.2);
}

.boton6 {
    position: absolute;
    border: none;
    background: none;
    filter: drop-shadow(0px 15px 15px #79b1a6);
    cursor: pointer;
    margin: auto;
    transition: transform .5s;
    color: white;
    right:4%;
    top:12%;
}

.boton6:hover{
    transform: scale(1.2);
}

.boton-ingresar {
    background-color: #CB93F6;
    color: white;
    border: none;
    width: 8.5%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    padding: 12px;
    transition: transform .5s;
    position: absolute;
    right: 3%;
    top: 4%;
}

.boton-ingresar:hover{
    transform: scale(1.2);
}
