<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/styles-sign-up.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
   
</head>

<body>
    <div class="main_container">
        <h1 class="titulo">RELACIONAMIENTO DE PERSONAS</h1>
        <h2 class="subtitulo">Complete el siguiente formulario para registrarse</h2>
 
        <form class="form1">
            <div class="grid-item">
                <label for=""> Nombre *<br></label>
                <input type="text" name="" value="" class="text-input">
            </div>

            <div class="grid-item">
                <label for=""> Apellido *<br></label>
                <input type="text" name="" value="" class="text-input">
            </div>

            <div class="grid-item">
                <label for=""> Número de documento *<br></label>
                <input type="text" name="" value="" class="text-input">
            </div>    
        
        </form>

        <form class="form2">
            <div class="grid-item">
                <label for=""> Usuario *<br></label>
                <input type="user" name="" value="" class="text-input-2">
            </div>

            <div class="grid-item">
                <label for=""> Contraseña *<br></label>
                <input type="password" name="" value="" class="text-input-2">
                    <text class="texto"><br>La contraseña debe tener como mínimo 8 caracteres</text>
                </input>
            </div>

            <div class="grid-item">
                <label for=""> Repetir contraseña *<br></label>
                <input type="password" name="" value="" class="text-input-2">
            </div>
        
        </form>

        <button class="boton" type="submit">REGISTRARSE</button>

    </div>

</body>
</html>