
<div class="container">
 
    <h2 class="subtitulo">Complete el siguiente formulario para dar a una mascota en adopción</h2>
    <form action="/dar-mascota-adopcion" method="post" class="form1">
        <div class="grid-item">
            <label for="name">Nombre<br></label>
            <input type="text" id="name" name="nombre" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="surname">Apellido<br></label>
            <input type="text" id="surname" name="apellido" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="date">Fecha de Nacimiento</label>
            <input type="date" id="date" name="fechaDeNacimiento" class="fecha" value="aa-mm-dd" min="1930-01-01" max="2004-01-01" required>
        </div>
        <div class="grid-item">
            <label for="email">Email<br></label>
            <input type="text" id="email" name="email" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="doc-type">Tipo de documento<br></label><br>
            <select class="doc"  id="doc-type" name="tipoDoc" required>
                <option value="DNI">DNI</option>
                <option value="CEDULA">Cedula</option>
                <option value="PASAPORTE">Pasaporte</option>
            </select>
        </div>
        <div class="grid-item">
            <label for="n-doc">Número de documento<br></label>
            <input type="text" id="n-doc" name="nroDocumento" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="cel">Teléfono / Celular<br></label>
            <input type="text" id="cel" name="telefono" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="notification">Formas de notificación<br></label><br>
            <a><input class="check" type="checkbox" name="SMS"> SMS</a>
            <a><input class="check" type="checkbox" name="EMAIL"> Email</a>
            <a><input class="check" type="checkbox" name="WHATSAPP"> WhatsApp</a>
        </div>
        <div class="grid-item">
            <label for="provincia">Provincia<br></label>
            <input type="text" id="provincia" name="provincia" class="text-input">
        </div>
        <div class="grid-item">
            <label for="localidad">Localidad<br></label>
            <input type="text" id="localidad" name="localidad" class="text-input">
        </div>
        <div class="grid-item">
            <label for="codigoPostal">Código Postal<br></label>
            <input type="text" id="cp" name="codigoPostal" class="text-input">
        </div>
        <div class="grid-item">
            <label for="calle">Calle<br></label>
            <input type="text" id="calle" name="calle" class="text-input">
        </div>
        <div class="grid-item">
            <label for="num">Numeración<br></label>
            <input type="text" id="num" name="numeracion" class="text-input">
        </div>
        <div class="grid-item">
            <label for="dpto">Departamento <br></label>
            <input type="text" id="dpto" name="departamento" class="text-input">
        </div>
        <div class="grid-item">
            <label for="piso">Piso <br></label>
            <input type="text" id="piso" name="piso" class="text-input">
        </div>
        <div></div><div></div><div></div>
        <br><br><br><br>
        <h3 class="subtitulo3">Agregar contacto</h3>
        <br>
        <div class="grid-item">
            <label for="name">Nombre<br></label>
            <input type="text" id="name" name="nombre" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="surname">Apellido<br></label>
            <input type="text" id="surname" name="apellido" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="email">Email<br></label>
            <input type="text" id="email" name="email" class="text-input" required>
        </div>
        <div class="grid-item">
            <label for="cel">Teléfono / Celular<br></label>
            <input type="text" id="cel" name="telefono" class="text-input" required>
        </div>
        <div></div>
        <div class="grid-item">
            <label for="notification">Formas de notificación<br></label><br>
            <a><input class="check" type="checkbox" name="SMS"> SMS</a>
            <a><input class="check" type="checkbox" name="EMAIL"> Email</a>
            <a><input class="check" type="checkbox" name="WHATSAPP"> WhatsApp</a>
        </div>
        <div></div><div></div><div></div>
        <br><br><br><br>
        <h3 class="subtitulo3">Sobre la mascota</h3>
        <div></div>
        <div class="grid-item">
            <label for="name">Tipo de Animal<br></label>
            <input class="radio" type="radio" name="tipoAnimal" value="PERRO">Perro
            <input class="radio" type="radio" name="tipoAnimal" value="GATO">Gato
        </div>
        <div class="grid-item">
            <label for="sexo">Sexo<br></label>
            <input class="radio" type="radio" name="sexoMascota" value="HEMBRA">Hembra
            <input class="radio" type="radio" name="sexoMascota" value="MACHO">Macho
        </div>
        <div class="grid-item">
            <label for="petName">Nombre<br></label>
            <input type="text" id="name" name="nombreMascota" class="text-input">
        </div>
        <div class="grid-item">
            <label for="alias">Apodo<br></label>
            <input type="text" id="name" name="apodoMascota" class="text-input">
        </div>
        <div class="grid-item">
            <label for="date">Edad aproximada<br></label>
            <input type="text" id="edad-aprox" name="edadMascota" class="text-input">
        </div>
        <div class="grid-item">
            <label for="email">Descripción física<br></label>
            <input type="text" id="descripcion-fisica" name="descripcionMascota" class="text-input">
        </div>
        <div class="grid-item">
            <label for="name">Características<br></label>
            <input type="text" id="caracteristicas" class="text-input">
        </div>
        <div class="grid-item">
            <label for="date">Fotos<br></label>
            <input class="boton-foto" type="file" name="imagen1" />
        </div>
        <div></div><div></div>
        <h3 class="subtitulo3">Preguntas</h3>
        <div></div>
        <div class="grid-item">
            <label for="email">Pregunta 1<br></label>
            <input type="text" id="text" class="text-input">
        </div>
        <div class="grid-item">
            <label for="email">Pregunta 2<br></label>
            <input type="text" id="text" class="text-input">
        </div>
        <div class="grid-item">
            <label for="email">Pregunta 3<br></label>
            <input type="text" id="text" class="text-input">
        </div>
        <div class="grid-item">
            <label for="email">Pregunta 4<br></label>
            <input type="text" id="text" class="text-input">
        </div>
        <div class="grid-item">
            <label for="email">Pregunta 5<br></label>
            <input type="text" id="text" class="text-input">
        </div>
        <div class="grid-item">
            <label for="email">Pregunta 6<br></label>
            <input type="text" id="text" class="text-input">
        </div>
        <div></div>
        <button type="submit" class="boton">CREAR PUBLICACIÓN</button>
    </form>
</div>
