<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

    <style>A{text-decoration: none;}</style>

    <style>
        body {
            background-image: url("/img/fondo.svg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            height: 100vh;}
    </style>
</head>

<body>
<div class="container">
    <h1 class="titulo">RESCATE DE PATITAS</h1>

    <img
            class="logo"
            src="/img/image (7).png"
            alt="Rescate de Patitas"
            width="187px"
            height="141px";
    />

    <form action="/sign-in" method="get">
    <a href="/sign-in">
        <button type="button" class="boton-ingresar">INGRESAR</button>
    </a>
    </form>

    <form action="/adoptar-mascota" method="get">
        <a href="/adoptar-mascota">
            <button type="button" class="boton1">
                <img
                        src="/img/boton 1.png"
                        alt=""
                        width="300px"
                />
                <br>
                <br>
                ADOPTAR
            </button>
        </a>
    </form>

    <form action="/registrar-mascota" method="get">
        <a href="/registrar-mascota">
            <button type="button" class="boton2">
                <img
                        src="/img/boton 2.png"
                        alt=""
                        width="150px"
                />
                <br>
                <br>
                REGISTRAR MASCOTA
            </button>
        </a>
    </form>

    <form action="/reportar-mascota" method="get">
        <a href="/reportar-mascota">
            <button type="button" class="boton3">
                <img
                        src="/img/boton 3.png"
                        alt=""
                        width="250px"
                />
                <br>
                <br>
                REPORTAR
            </button>
        </a>
    </form>

    <form action="/dar-mascota-adopcion" method="get">
        <a href="/dar-mascota-adopcion">
            <button type="button" class="boton4">
                <img
                        src="/img/boton 4.png"
                        alt=""
                        width="150px"
                />
                <br>
                <br>
                DAR MASCOTA EN ADOPCIÓN
            </button>
        </a>
    </form>

    <form action="/sign-up" method="get">
        <a href="/sign-up">
            <button type="button" class="boton5">
                <img
                        src="/img/boton 5.png"
                        alt=""
                        width="300px"
                />
                <br>
                <br>
                REGISTRARSE
            </button>
        </a>
    </form>

    <form action="/mascotas-perdidas" method="get">
        <a href="/mascotas-perdidas">
            <button type="button" class="boton6">
                <img
                        src="/img/boton 6.png"
                        alt=""
                        width="250px"
                />
                <br>
                <br>
                MASCOTAS PERDIDAS
            </button>
        </a>
    </form>

</div>
</body>
</html>