<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/js/links.js"></script>
        <script defer src="/js/home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

        <link rel="shortcut icon" href="/img/icono-patitas.ico"/>

        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        <div class="container">
        <h1 class="titulo">RESCATE DE PATITAS</h1>
        <img
                class="logo"
                src="/img/home-logo.png"
                alt="Rescate de Patitas"
                width="187px"
                height="141px";
        />


            <nav class="nav" id="appVue">
                <ul>
                    <li><a class="mi-cuenta">MI CUENTA</a>
                        <ul class="submenu">
                            <!--<li><a><button class="botonsub" v-on:click="editarPerfil">Editar perfil</button></a></li>-->
                            <li><a><button class="botonsub" onclick="editarPerfil()">Editar perfil</button></a></li>
                            <li><a href="/mascotas-registradas"><button class="botonsub">Mascotas registradas</button></a></li>
                            <li><a ><button class="botonsub" v-on:click="cerrarSesion">Cerrar sesión</button></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <button type="button" class="boton1" onclick="mascotasEnAdopcion()">
                <img
                        src="/img/boton-1.png"
                        alt=""
                        width="300px"
                />
                <br>
                <br>
                ADOPTAR
            </button>

            <button type="button" class="boton2" onclick="registrarMascota()">
                <img
                        src="/img/boton-2.png"
                        alt=""
                        width="150px"
                />
                <br>
                <br>
                REGISTRAR MASCOTA
            </button>

            <button type="button" class="boton3" onclick="reportarMascota()">
                <img
                        src="/img/boton-3.png"
                        alt=""
                        width="250px"
                />
                <br>
                <br>
                REPORTAR
            </button>

            <button type="button" class="boton4" onclick="darMascotaEnAdopcion()">
                <img
                        src="/img/boton-4.png"
                        alt=""
                        width="150px"
                />
                <br>
                <br>
                DAR MASCOTA EN ADOPCIÓN
            </button>

            <!--<button type="button" class="boton5" onclick="registrarse()">
                <img
                        src="/img/boton-5.png"
                        alt=""
                        width="300px"
                />
                <br>
                <br>
                REGISTRARSE
            </button> -->

            <button type="button" class="boton6" onclick="mascotasPerdidas()">
                <img
                        src="/img/boton-6.png"
                        alt=""
                        width="250px"
                />
                <br>
                <br>
                MASCOTAS PERDIDAS
            </button>
        </div>
    </body>
</html>