<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Home</title>
    
    <script defer src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" href="/img/image_2_.ico"/>

    <link rel="stylesheet" href="/css/home2.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1 class="titulo">RESCATE DE PATITAS</h1>

        <img 
            class="logo"
            src="/img/image (7).png" 
            alt="Rescate de Patitas" 
            width="187px" 
            height="141px";
        />
        <nav class="nav">
            <ul>
                <li><a class="mi-cuenta">MI CUENTA</a>
                    <ul class="submenu">
                        <li><a href="#">Editar perfil</button></a></li>
                        <li><a href="#">Mascotas registradas</button></a></li>
                        <li><a href="#">Cerrar sesión</button></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
        <a href="">
            <button type="button" class="boton1">
                <img 
                    src="/img/boton 1.png" 
                    alt="" 
                    width="300px"
                />
                <br>
                <br>
                ADOPTAR
            </button>
        </a>

        <a href="">
            <button type="button" class="boton2">
                <img 
                    src="/img/boton 2.png" 
                    alt="" 
                    width="150px"
                />
                <br>
                <br>
                REGISTRAR MASCOTA
            </button>
        </a>

        <a href="">
            <button type="button" class="boton3">
                <img 
                    src="/img/boton 3.png" 
                    alt="" 
                    width="250px"
                />
                <br>
                <br>
                REPORTAR
            </button>
        </a>

        <a href="">
            <button type="button" class="boton4">
                <img 
                    src="/img/boton 4.png" 
                    alt="" 
                    width="150px"
                />
                <br>
                <br>
                DAR MASCOTA EN ADOPCIÓN
            </button>
        </a>
        
        <a href="">
            <button type="button" class="boton5">
                <img 
                    src="/img/boton 5.png" 
                    alt=""
                    width="300px"
                />
                <br>
                <br>
                REGISTRARSE
            </button>
        </a>

        <a href="">
            <button type="button" class="boton6">
                <img 
                    src="/img/boton 6.png" 
                    alt="" 
                    width="250px"
                />
                <br>
                <br>
                MASCOTAS PERDIDAS
            </button>
        </a>

    </div>
</body>
</html>