<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/js/links.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

        <link rel="shortcut icon" href="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687235/img/icono-patitas_c1xqq0.ico"/>

        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
    <div class="container">
        <h1 class="titulo">RESCATE DE PATITAS</h1>
        <img
                class="logo"
                src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687235/img/home-logo_nqrjnd.png"
                alt="Rescate de Patitas"
                width="187px"
                height="141px"
        />

        <button type="button" class="boton1" onclick="mascotasEnAdopcion()">
            <img
                    src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687214/img/boton-1_f5kqnj.png"
                    alt=""
                    width="300px"
            />
            <br>
            <br>
            ADOPTAR
        </button>

        <button type="button" class="boton2" onclick="registrarMascota()">
            <img
                    src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687215/img/boton-2_qzfl1u.png"
                    alt=""
                    width="150px"
            />
            <br>
            <br>
            REGISTRAR MASCOTA
        </button>

        <button type="button" class="boton3" onclick="reportarMascota()">
            <img
                    src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687212/img/boton-3_cxzbsm.png"
                    alt=""
                    width="250px"
            />
            <br>
            <br>
            REPORTAR
        </button>

        <button type="button" class="boton4" onclick="darMascotaEnAdopcion()">
            <img
                    src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687212/img/boton-4_y4m3r2.png"
                    alt=""
                    width="150px"
            />
            <br>
            <br>
            DAR MASCOTA EN ADOPCIÓN
        </button>

        <div id="appVue">
            <div v-if="tipoRol === 'USER'">
                <nav class="nav">
                    <ul>
                        <li><a class="mi-cuenta">MI CUENTA</a>
                            <ul class="submenu">
                                <li><a href="/editar-perfil"><button class="botonsub">Editar perfil</button></a></li>
                                <li><a href="/mascotas-registradas"><button class="botonsub">Mascotas registradas</button></a></li>
                                <li><a ><button class="botonsub" v-on:click="cerrarSesion">Cerrar sesión</button></a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>
                <button type="button" class="boton7" onclick="mascotasPerdidas()">
                    <img
                            src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687216/img/boton-6_j1hvec.png"
                            alt=""
                            width="250px"
                    />
                    <br>
                    <br>
                    MASCOTAS PERDIDAS
                </button>
            </div>


            <div v-else-if="tipoRol === 'MODERADOR'">
                <nav class="nav">
                    <ul>
                        <li><a class="mi-cuenta">MI CUENTA</a>
                            <ul class="submenu">
                                <li><a href="/editar-perfil"><button class="botonsub">Editar perfil</button></a></li>
                                <li><a href="/mascotas-registradas"><button class="botonsub" >Mascotas registradas</button></a></li>
                                <li><a href="/publicaciones-pendientes"><button class="botonsub">Publicaciones pendientes</button></a></li>
                                <li><a ><button class="botonsub" v-on:click="cerrarSesion">Cerrar sesión</button></a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>

                <button type="button" class="boton7" onclick="mascotasPerdidas()">
                    <img
                            src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687216/img/boton-6_j1hvec.png"
                            alt=""
                            width="250px"
                    />
                    <br>
                    <br>
                    MASCOTAS PERDIDAS
                </button>
            </div>


            <div v-else-if="tipoRol === 'ADMIN'">
                <nav class="nav">
                    <ul>
                        <li><a class="mi-cuenta">MI CUENTA</a>
                            <ul class="submenu">
                                <li><a href="/editar-perfil" ><button class="botonsub">Editar perfil</button></a></li>
                                <li><a href="/mascotas-registradas" ><button class="botonsub">Mascotas registradas</button></a></li>
                                <li><a href="#"><button class="botonsub">Administrar Organización</button></a></li>
                                <li><a href="/administrar-caracteristicas"><button class="botonsub">Administrar Características</button></a></li>
                                <li><a href="/administrar-usuarios"><button class="botonsub">Administrar Roles</button></a></li>
                                <li><a ><button class="botonsub" v-on:click="cerrarSesion">Cerrar sesión</button></a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>

                <button type="button" class="boton7" onclick="mascotasPerdidas()">
                    <img
                            src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687216/img/boton-6_j1hvec.png"
                            alt=""
                            width="250px"
                    />
                    <br>
                    <br>
                    MASCOTAS PERDIDAS
                </button>
            </div>


            <div v-else>
                <button type="button" class="boton-ingresar"  onclick="login()" >INGRESAR</button>

                <button type="button" class="boton5" onclick="registrarse()">
                    <img
                            src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687214/img/boton-5_mpc2sh.png"
                            alt=""
                            width="300px"
                    />
                    <br>
                    <br>
                    REGISTRARSE
                </button>

                <button type="button" class="boton6" onclick="mascotasPerdidas()">
                    <img
                            src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687216/img/boton-6_j1hvec.png"
                            alt=""
                            width="250px"
                    />
                    <br>
                    <br>
                    MASCOTAS PERDIDAS
                </button>
            </div>



        </div>



    </div>
    <script src="/js/home.js"></script>
    </body>
</html>