<div class="container">
 
    <!--<form class="form1">-->
    <div class="form1" id="appVue">
        <div class="formulario">
            <h2 class="subtitulo">INICIO DE SESIÓN</h2>
            <div class="grid-item">
                <input type="text" placeholder="Usuario" value="" v-model="userName" name="userName" id="userName" class="text-input" required>
            </div>
            <br>
            <div class="grid-item">
                <input type="password" placeholder="Contraseña" value="" v-model="userPassword" name="userPassword" id="userPassword" class="text-input" required>
            </div>
            <div class="grid-item">
                <button class="boton" v-on:click="iniciarSesion()" >INICIAR SESIÓN</button>
                <a class="olvido" href="#"><br>Olvide mi contraseña</a>
            </div>
        </div>
    </div>
   <!-- </form>-->
    <a class="no-tiene-cuenta">¿Usted no tiene una cuenta?<br></a>
    <a class="boton2">
        <button class="boton" onclick="registrarse()">REGISTRARSE</button>
    </a>
</div>

