<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iniciar sesión</title>
    <link rel="shortcut icon" href="/img/image_7_.ico"/>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <header>
        <nav class="menu">
            <a href="/" class="logo"> <img src="/img/image (7).png" alt="" width="81px"></a>
            <ul>
                <li><a href="/adoptar-mascota">ADOPTAR</a></li>
                <li><a href="/dar-mascota-adopcion">DAR EN ADOPCIÓN</a></li>
                <li><a href="/reportar-mascota">REPORTAR</a></li>
                <li><a href="/mascotas-perdidas">MASCOTAS PERDIDAS</a></li>
                <li><a href="/registrar-mascota">REGISTRAR MASCOTAS</a></li>
            </ul>
        </nav>
    </header>

    <form class="form1">
        <h2 class="subtitulo">INICIO DE SESIÓN</h2>

        <input type="text" placeholder="Usuario" value="" class="text-input">
        <input type="password" placeholder="Contraseña" value="" class="text-input">

        <a href="/home2">
            <button class="boton">INICIAR SESIÓN</button>
        </a>

        <a class="olvido" href=""><br>Olvide mi contraseña</a>

    </form>

    <a class="no-tiene-cuenta">¿Usted no tiene una cuenta?<br></a>

    <a href="/sign-up" class="boton2">
        <button  class="boton">REGISTRARSE</button>
    </a>

</div>

</body>
</html>