<div class="container">
    <h1 class="subtitulo">Mascotas Perdidas</h1>
    {{#each mascotasPerdidas}}
        <div class="tabla">
            <div class="publicacion">
                <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687250/img/pantuflas_wopgw1.png" >
                <a href="/mascotas-perdidas/estoy-perdido/{{id}}"><button class="boton">Ver más</button></a>
                <a href="/mascotas-perdidas/notificar-rescatista/{{id}}"><button class="boton">Te encontré</button></a>
            </div>
        </div>
    {{else}}
        <div class="subtitulo3">¡No hay mascotas perdidas por el momento!<br><br><br>
            <img class="imgAviso" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687238/img/jugando_con_la_cola_vxwwjm.png" >
        </div>
    {{/each}}
</div>

<!--
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <title>Mascotas Perdidas</title>
    </head>

    <body>

    <h1>MASCOTAS PERDIDAS</h1>

    <table class="table table-hover">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Descripcion </th>
            <th scope="col"> Tamaño animal </th>
            <th scope="col"> Tipo animal </th>

        </tr>
        #each mascotasPerdidas}}
            <tr>
                <td>  id }} </td>
                <td>  descripcion }} </td>
                <td>  tamanio }} </td>
                <td>  tipoAnimal }} </td>

            </tr>
        /each
    </table>

    </body>
</html>-->