<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/img/icono-patitas.ico"/>

        <link rel="stylesheet" href="/css/sign-up.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

        <title>Mascotas Perdidas</title>
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="menu">
                    <a href="/" class="logo">
                        <img src="/img/home-logo.png" alt="" width="81px">
                    </a>
                    <ul>
                        <li><a href="/mascotas-en-adopcion" class="nav-link">ADOPTAR</a></li>
                        <li><a href="/dar-mascota-adopcion" class="nav-link">DAR EN ADOPCIÓN</a></li>
                        <li><a href="/reportar-mascota" class="nav-link">REPORTAR</a></li>
                        <li><a href="/mascotas-perdidas" class="nav-link">MASCOTAS PERDIDAS</a></li>
                        <li><a href="/registrar-mascota" class="nav-link">REGISTRAR MASCOTAS</a></li>
                    </ul>
                </nav>
            </header>

            <table>
                <!-- bueno, se supone que debería ser "infinito" esto, osea, tendría que existir la posibilidad de tocar a la derecha para ver más publis, pero ni idea cómo hacerlo -->
                <tr>
                    <td>
                        <img src="/img/jengibre.png" width="300">
                        <h3>Jengibre</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/canelon.png" width="300">
                        <h3>Canelon</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/bamba.png" width="300">
                        <h3>Bamba</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/cosmo.png" width="300">
                        <h3>Cosmo</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/plumita.png" width="300">
                        <h3>Plumita</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <img src="/img/avena.png" width="300">
                        <h3>Avena</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/fresa.png" width="300">
                        <h3>Fresa</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/daisy.png" width="300">
                        <h3>Daisy</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/jorge.png" width="300">
                        <h3>Jorge</h3>
                        <a href="#"><button class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>

                    <td>
                        <img src="/img/gardenia.png" width="300">
                        <h3>Gardenia</h3>
                        <a href="#"><button type="button" class="boton">Ver más</button></a>
                        <br>
                        <a href="#"><button class="boton">Te encontré</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>

<!--
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <title>Mascotas Perdidas</title>
    </head>

    <body>

    <h1>MASCOTAS PERDIDAS</h1>

    <table class="table table-hover">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Descripcion </th>
            <th scope="col"> Tamaño animal </th>
            <th scope="col"> Tipo animal </th>

        </tr>
        #each mascotasPerdidas}}
            <tr>
                <td>  id }} </td>
                <td>  descripcion }} </td>
                <td>  tamanio }} </td>
                <td>  tipoAnimal }} </td>

            </tr>
        /each
    </table>

    </body>
</html>-->