<div class="container">
    <h1 class="subtitulo">Mascotas Perdidas</h1>
    <grid style="align-content: center;" class="tabla">
        <!-- bueno, se supone que debería ser "infinito" esto, osea, tendría que existir la posibilidad de tocar a la derecha para ver más publis, pero ni idea cómo hacerlo -->
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687243/img/Jengibre_znqr4g.png" >
            <h3>Jengibre</h3>
            <a href="/mascotas-perdidas/estoy-perdido/1"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/1"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687227/img/Canelon_daz0in.png" >
            <h3>Canelon</h3>
            <a href="/mascotas-perdidas/estoy-perdido/2"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/2"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687217/img/Bamba_d6lobc.png" >
            <h3>Bamba</h3>
            <a href="/mascotas-perdidas/estoy-perdido/3"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/3"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687231/img/Cosmo_oulc1m.png" >
            <h3>Cosmo</h3>
            <a href="/mascotas-perdidas/estoy-perdido/4"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/4"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687251/img/Plumita_jfgxhk.png" >
            <h3>Plumita</h3>
            <a href="/mascotas-perdidas/estoy-perdido/5"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/5"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687227/img/Avena_jfkzlj.png" >
            <h3>Avena</h3>
            <a href="/mascotas-perdidas/estoy-perdido/6"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/6"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687232/img/Fresa_g3lwau.png" >
            <h3>Fresa</h3>
            <a href="/mascotas-perdidas/estoy-perdido/7"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/7"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687233/img/Daisy_skgj2w.png" >
            <h3>Daisy</h3>
            <a href="/mascotas-perdidas/estoy-perdido/8"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/8"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687249/img/Jorge_cjqf0b.png" >
            <h3>Jorge</h3>
            <a href="/mascotas-perdidas/estoy-perdido/9"><button class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/9"><button class="boton">Te encontré</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687246/img/Gardenia_neqlwv.png" >
            <h3>Gardenia</h3>
            <a href="/mascotas-perdidas/estoy-perdido/10" class="aver"><button type="button" class="boton">Ver más</button></a>
            <a href="/mascotas-perdidas/notificar-rescatista/10"><button class="boton">Te encontré</button></a>
        </div>
    </grid>
</div>


<!--
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <title>Mascotas Perdidas</title>
    </head>

    <body>

    <h1>MASCOTAS PERDIDAS</h1>

    <table class="table table-hover">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Descripcion </th>
            <th scope="col"> Tamaño animal </th>
            <th scope="col"> Tipo animal </th>

        </tr>
        #each mascotasPerdidas}}
            <tr>
                <td>  id }} </td>
                <td>  descripcion }} </td>
                <td>  tamanio }} </td>
                <td>  tipoAnimal }} </td>

            </tr>
        /each
    </table>

    </body>
</html>-->