<div class="container">

    <h1 class="subtitulo">Mascotas en Adopción</h1>
    <grid style="align-content: center;" class="tabla">
        <!-- bueno, se supone que debería ser "infinito" esto, osea, tendría que existir la posibilidad de tocar a la derecha para ver más publis, pero ni idea cómo hacerlo -->
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687243/img/Jengibre_znqr4g.png" >
            <h3>Jengibre</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/1"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/1"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687227/img/Canelon_daz0in.png" >
            <h3>Canelon</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/2"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/2"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687217/img/Bamba_d6lobc.png" >
            <h3>Bamba</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/3"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/3"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687231/img/Cosmo_oulc1m.png" >
            <h3>Cosmo</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/4"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/4"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687251/img/Plumita_jfgxhk.png" >
            <h3>Plumita</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/5"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/5"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687227/img/Avena_jfkzlj.png" >
            <h3>Avena</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/6"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/6"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687232/img/Fresa_g3lwau.png" >
            <h3>Fresa</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/7"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/7"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687233/img/Daisy_skgj2w.png" >
            <h3>Daisy</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/8"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/8"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687249/img/Jorge_cjqf0b.png" >
            <h3>Jorge</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/9"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/9"><button class="boton">Adoptar</button></a>
        </div>
        <div class="publicacion">
            <img class="img" src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687246/img/Gardenia_neqlwv.png" >
            <h3>Gardenia</h3>
            <a href="/mascotas-en-adopcion/estoy-en-adopcion/10"><button class="boton">Ver más</button></a>
            <a href="/mascotas-en-adopcion/notificar-duenio/10"><button class="boton">Adoptar</button></a>
        </div>
    </grid>
    <label class="texto">¿No encontraste tu mascota ideal?<br>Crea tu propia publicación para encontrarla</label>
    <br>
    <button class="boton1" onclick="busquedaMascotaIdeal()">CREAR PUBLICACIÓN</button>
</div>
