<div class="container">
    <h2 class="subtitulo">Complete el siguiente formulario para notificar al Dueño</h2>
    <form action="/notificar-duenio:id" method="post" class="form1">
        <div class="registro">
            <div class="grid-item">
                <label for="name">Nombre<br></label>
                <input type="text" id="name" name="nombre" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="surname">Apellido<br></label>
                <input type="text" id="surname" name="apellido" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" id="date" name="fechaDeNacimiento" class="fecha" value="aa-mm-dd" min="1930-01-01" max="2004-01-01" required>
            </div>
            <div class="grid-item">
                <label for="email">Email<br></label>
                <input type="text" id="email" name="email" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="doc-type">Tipo de documento<br></label><br>
                <select class="doc"  id="doc-type" name="tipoDoc" required>
                    <option value="DNI">DNI</option>
                    <option value="CEDULA">Cedula</option>
                    <option value="PASAPORTE">Pasaporte</option>
                </select>
            </div>
            <div class="grid-item">
                <label for="n-doc">Número de documento<br></label>
                <input type="text" id="n-doc" name="nroDocumento" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="cel">Teléfono / Celular<br></label>
                <input type="text" id="cel" name="telefono" class="text-input" required>
            </div>
            <div></div>
            <div class="grid-item">
                <label for="notification">Formas de notificación<br></label><br>
                <a><input class="check" type="checkbox" name="SMS"> SMS</a>
                <a><input class="check" type="checkbox" name="EMAIL"> Email</a>
                <a><input class="check" type="checkbox" name="WHATSAPP"> WhatsApp</a>
            </div>
        </div>
    </form>
    <button type="submit" class="boton">ENVIAR</button>
</div>
