<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrarse</title>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="/js/registrarse.js"></script>
        <script defer src="/js/index.js"></script>
        <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>

        <link rel="shortcut icon" href="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687235/img/icono-patitas_c1xqq0.ico"/>

        <link rel="stylesheet" href="/css/barra-menu.css">
        <link rel="stylesheet" href="/css/registrarse.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
    </head>

    <body>
    <div class="container">
        <header class="header">
            <nav class="menu">
                <a href="/" class="logo"><img src="https://res.cloudinary.com/rescatedepatitas08/image/upload/v1637687235/img/home-logo_nqrjnd.png"></a>
                <button class="toggle"><i class="fas fa-bars"></i></button>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/mascotas-en-adopcion">ADOPTAR</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/dar-mascota-adopcion">DAR EN ADOPCIÓN</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/reportar-mascota">REPORTAR</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/mascotas-perdidas">MASCOTAS PERDIDAS</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link nav-menu-link_Active" href="/registrar-mascota">REGISTRAR MASCOTAS</a></li>
                </ul>
            </nav>
        </header>

        <h2 class="subtitulo">Complete el siguiente formulario para crear la cuenta</h2>

        <div class="form1" id="appVue">
            <div class="registro">

                <div class="grid-item">
                    <label for="name">Nombre<br></label>
                    <input type="text" id="name" v-model="nombre"  name="nombre" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="surname">Apellido<br></label>
                    <input type="text" id="surname" v-model="apellido"  name="apellido" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="date">Fecha de Nacimiento</label>
                    <input type="date" id="date" v-model="fechaDeNacimiento" name="fechaDeNacimiento" class="fecha" value="aa-mm-dd" min="1930-01-01" max="2004-01-01" required>
                </div>

                <div class="grid-item">
                    <label for="email">Email<br></label>
                    <input type="text" id="email" v-model="email" name="email" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="doc-type">Tipo de documento<br></label><br>
                    <select class="doc" v-model="tipoDoc" id="tipoDoc" name="tipoDoc" required>
                        <option value="DNI">DNI</option>
                        <option value="CEDULA">Cedula</option>
                        <option value="PASAPORTE">Pasaporte</option>
                    </select>
                </div>

                <div class="grid-item">
                    <label for="n-doc">Número de documento<br></label>
                    <input type="text" id="nroDocumento" v-model="nroDocumento" name="nroDocumento" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="cel">Teléfono / Celular<br></label>
                    <input type="text" id="cel" v-model="telefono" name="telefono" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="notification">Formas de notificación<br></label><br>
                    <a><input class="check" type="checkbox" v-model="notificacionSms" name="SMS"> SMS</a>
                    <a><input class="check" type="checkbox" v-model="notificacionEmail" name="EMAIL"> Email</a>
                    <a><input class="check" type="checkbox" v-model="notificacionWpp" name="WHATSAPP"> WhatsApp</a>
                </div>


                <br><br><br>


                <div></div>
                <h3 class="subtitulo3">Agregar contacto</h3>
                <br>

                <div class="grid-item">
                    <label for="contactoName">Nombre<br></label>
                    <input type="text" id="contactoName" v-model="contactoNombre" name="contactoNombre" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="contactoSurname">Apellido<br></label>
                    <input type="text" id="contactoSurname" v-model="contactoApellido" name="contactoApellido" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="contactoEmail">Email<br></label>
                    <input type="text" id="contactoEmail" v-model="contactoEmail" name="contactoEmail" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="contactoTel">Teléfono / Celular<br></label>
                    <input type="text" id="contactoTel" v-model="contactoTelefono" name="contactoTelefono" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="contactoNotification">Formas de notificación<br></label><br>
                    <a><input class="check" type="checkbox" v-model="contactoNotificacionSms" name="SMS"> SMS</a>
                    <a><input class="check" type="checkbox" v-model="contactoNotificacionEmail" name="EMAIL"> Email</a>
                    <a><input class="check" type="checkbox" v-model="contactoNotificacionWpp" name="WHATSAPP"> WhatsApp</a>
                </div>

            </div>

            <br>
            <div class="usuario">
                <div class="grid-item">
                    <label for="user">Usuario<br></label>
                    <input type="text" id="userName" v-model="userName" name="userName" class="text-input" required>
                </div>

                <div class="grid-item">
                    <label for="password">Contraseña<br></label>
                    <input type="password" id="password" v-model="password" name="password" class="text-input" required>
                    </input>
                </div>

                <div class="grid-item">
                    <label for="password">Confirmar la Contraseña<br></label>
                    <input type="password" id="passConf" v-model="passConf" name="passConf" class="text-input"required>
                </div>

            </div>
            <br><br>
            <div class="grid-item" align="center">
                <button type="submit" class="boton" v-on:click="registrarse()">REGISTRARSE</button>
            </div>
            <br>

        </div>
    </div>

    </body>
</html>