<div class="container">
    <h2 class="subtitulo">Complete el siguiente formulario para crear la cuenta</h2>
   <!-- <form action="/registrarse" class="form1" method="post">-->
    <div class="form1" id="appVue">
        <div class="registro">
            <div class="grid-item">
                <label for="name">Nombre<br></label>
                <input type="text" id="name" v-model="nombre"  name="nombre" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="surname">Apellido<br></label>
                <input type="text" id="surname" v-model="apellido"  name="apellido" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" id="date" v-model="fechaDeNacimiento" name="fechaDeNacimiento" class="fecha" value="aa-mm-dd" min="1930-01-01" max="2004-01-01" required>
            </div>
            <div class="grid-item">
                <label for="email">Email<br></label>
                <input type="text" id="email" v-model="email" name="email" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="doc-type">Tipo de documento<br></label><br>
                <select class="doc" v-model="tipoDoc" id="tipoDoc" name="tipoDoc" required>
                    <option value="DNI">DNI</option>
                    <option value="CEDULA">Cedula</option>
                    <option value="PASAPORTE">Pasaporte</option>
                </select>
            </div>
            <div class="grid-item">
                <label for="n-doc">Número de documento<br></label>
                <input type="text" id="nroDocumento" v-model="nroDocumento" name="nroDocumento" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="cel">Teléfono / Celular<br></label>
                <input type="text" id="cel" v-model="telefono" name="telefono" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="notification">Formas de notificación<br></label><br>
                <a><input class="check" type="checkbox" v-model="notificacionSms" name="SMS"> SMS</a>
                <a><input class="check" type="checkbox" v-model="notificacionEmail" name="EMAIL"> Email</a>
                <a><input class="check" type="checkbox" v-model="notificacionWpp" name="WHATSAPP"> WhatsApp</a>
            </div>
            <br><br><br>
            <div></div>
            <h3 class="subtitulo3">Agregar contacto</h3>
            <br>
            <div class="grid-item">
                <label for="contactoName">Nombre<br></label>
                <input type="text" id="contactoName" v-model="contactoNombre" name="contactoNombre" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="contactoSurname">Apellido<br></label>
                <input type="text" id="contactoSurname" v-model="contactoApellido" name="contactoApellido" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="contactoEmail">Email<br></label>
                <input type="text" id="contactoEmail" v-model="contactoEmail" name="contactoEmail" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="contactoTel">Teléfono / Celular<br></label>
                <input type="text" id="contactoTel" v-model="contactoTelefono" name="contactoTelefono" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="contactoNotification">Formas de notificación<br></label><br>
                <a><input class="check" type="checkbox" v-model="contactoNotificacionSms" name="SMS"> SMS</a>
                <a><input class="check" type="checkbox" v-model="contactoNotificacionEmail" name="EMAIL"> Email</a>
                <a><input class="check" type="checkbox" v-model="contactoNotificacionWpp" name="WHATSAPP"> WhatsApp</a>
            </div>
        </div>
        <br>
        <div class="usuario">
            <div class="grid-item">
                <label for="user">Usuario<br></label>
                <input type="text" id="userName" v-model="userName" name="userName" class="text-input" required>
            </div>
            <div class="grid-item">
                <label for="password">Contraseña<br></label>
                <input type="password" id="password" v-model="password" name="password" class="text-input" required>
                </input>
            </div>
            <div class="grid-item">
                <label for="password">Confirmar la Contraseña<br></label>
                <input type="password" id="passConf" v-model="passConf" name="passConf" class="text-input"required>
            </div>
        </div>
        <div class="grid-item" align="center">
            <button type="submit" class="boton" v-on:click="registrarse()">REGISTRARSE</button>
        </div>
        <br>
    </div>
    <!--</form>-->
</div>

