<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/img/icono-patitas.ico"/>

        <link rel="stylesheet" href="/css/sign-up.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

        <title>Registrar Mascota</title>
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="menu">
                    <a href="/" class="logo">
                        <img src="/img/home-logo.png" alt="" width="81px">
                    </a>
                    <ul>
                        <li><a href="/mascotas-en-adopcion" class="nav-link">ADOPTAR</a></li>
                        <li><a href="/dar-mascota-adopcion" class="nav-link">DAR EN ADOPCIÓN</a></li>
                        <li><a href="/reportar-mascota" class="nav-link">REPORTAR</a></li>
                        <li><a href="/mascotas-perdidas" class="nav-link">MASCOTAS PERDIDAS</a></li>
                        <li><a href="/registrar-mascota" class="nav-link">REGISTRAR MASCOTAS</a></li>
                    </ul>
                </nav>
            </header>

            <form href="/registrar-mascota" method="post" class="form1 needs-validation" novalidate>
                <fieldset>
                    <table class="tabla" align="center">
                        <h2 class="subtitulo">Complete el siguiente formulario con sus datos personales</h2>

                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="name">Nombre<br></label>
                                    <input type="text" id="name" name="nombre" class="text-input" required>
                                </div>
                            </td>

                            <td>
                                <div class="grid-item">
                                    <label for="surname">Apellido<br></label>
                                    <input type="text" id="surname" name="apellido" class="text-input" required>
                                </div>
                            </td>

                            <td>
                                <div class="grid-item">
                                    <label for="date">Fecha de Nacimiento<br></label>
                                    <input type="date" id="date" name="fechaDeNacimiento" class="fecha" value="yyyy-MM-dd" min="1930-01-01" max="2004-01-01" required>
                                </div>
                            </td>

                            <td>
                                <div class="grid-item">
                                    <label for="email">Email<br></label>
                                    <input type="text" id="email" name="email" class="text-input" required>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="doc-type">Tipo de documento<br></label>
                                    <select id="doc-type" name="tipoDoc" required>
                                        <option value="DNI">DNI</option>
                                        <option value="CEDULA">Cedula</option>
                                        <option value="PASAPORTE">Pasaporte</option>
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="grid-item">
                                    <label for="n-doc">Número de documento<br></label>
                                    <input type="text" id="n-doc" name="nroDocumento" class="text-input" required>
                                </div>
                            </td>

                            <td>
                                <div class="grid-item">
                                    <label for="cel">Teléfono / Celular<br></label>
                                    <input type="text" id="cel" name="telefono" class="text-input" required>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="notification">Medio de Notificación preferido<br></label>
                                    <select id="notification" name="notificacion">
                                        <option value="WHATSAPP">WhatsApp</option>
                                        <option value="SMS">SMS</option>
                                        <option value="EMAIL">Email</option>
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="grid-item">
                                    <label for="contact">Contactos</label>
                                    <select id="contact">
                                        <option></option>
                                    </select>
                                    <button for="contact">Agregar contacto<br></button>
                                    <form>
                                        <div class="grid-item">
                                            <label for="name">Nombre y Apellido<br></label>
                                            <input type="text" id="name" class="text-input">
                                        </div>

                                        <div class="grid-item">
                                            <label for="email">Email<br></label>
                                            <input type="text" id="email" class="text-input">
                                        </div>

                                        <div class="grid-item">
                                            <label for="cel">Teléfono / Celular<br></label>
                                            <input type="text" id="cel" class="text-input">
                                        </div>

                                        <div class="grid-item">
                                            <label for="notification">Formas de notificación<br></label>
                                            <select id="notification" name="">
                                                <option value="WhatsApp">WhatsApp</option>
                                                <option value="SMS">SMS</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="boton">AGREGAR CONTACTO</button>
                                    </form>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="provincia">Provincia<br></label>
                                    <input type="text" id="provincia" name="provincia" class="text-input">
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="localidad">Localidad<br></label>
                                    <input type="text" id="localidad" name="localidad" class="text-input" required>
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="cp">Código Postal<br></label>
                                    <input type="text" id="cp" name="codigoPostal" class="text-input" required>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="calle">Calle<br></label>
                                    <input type="text" id="calle" name="calle" class="text-input" required>
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="numeracion">Numeración<br></label>
                                    <input type="text" id="numeracion" name="numeracion" class="text-input" required>
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="depto">Departamento <br></label>
                                    <input type="text" id="depto" name="departamento" class="text-input">
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="piso">Piso <br></label>
                                    <input type="text" id="piso" name="piso" class="text-input">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="tabla" align="center">
                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="nombre">Nombre de la Mascota<br></label>
                                    <input type="text" id="nombre" name="nombreMascota" class="text-input" required>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="apodo">Apodo de la Mascota<br></label>
                                    <input type="text" id="apodo" name="apodoMascota" class="text-input" required>
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="tipo">Tipo de Animal<br></label>
                                    <input type="radio" name="tipoAnimal" value="PERRO">Perro
                                    <input type="radio" name="tipoAnimal" value="GATO">Gato
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="sexo">Sexo del Animal<br></label>
                                    <input type="radio" name="sexoMascota" value="HEMBRA">Hembra
                                    <input type="radio" name="sexoMascota" value="MACHO">Macho
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="edad">Edad aproximada<br></label>
                                    <input type="text" id="edad" name="edadMascota" class="text-input" required>
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="descripcion">Descripción física<br></label>
                                    <input type="text" id="descripcion" name="descripcionMascota" class="text-input" required>
                                </div>
                            </td>
                        </tr>

                      <!--  <tr>
                            <td>
                                <div class="grid-item">
                                    <label for="caracteristicas">Características<br></label>
                                    <input type="text" id="caracteristicas" name="caracteristicasMascota" class="text-input">
                                </div>
                            </td>
                            <td>
                                <div class="grid-item">
                                    <label for="fotos">Fotos<br></label>
                                    <input type="file" name="imagen1" />
                                    <input type="submit" name="subir-imagen" value="Enviar imagen" />
                                </div>
                            </td>
                        </tr>-->
                    </table>

                    <text class="texto"><br>Con el registro de su mascota se le enviara una chapita identificatoria a la dirección indicada</text>
                </fieldset>

               <!-- <fieldset>
                    <text class="texto"><br>¿Desea crear una cuenta?</text>
                     Si selecciona SI debería llevarlo al siguiente fieldset
                    <input type="button" class="button" value="Si" />
                     Si selecciona NO debería simplemente registrar a la mascota y mandarlo a home
                    <input type="button" class="button" value="No" />
                </fieldset>

                <fieldset>
                    <table class="tabla" align="center">
                        <h2 class="subtitulo">Ingrese un nombre de usuario y contraseña adecuada</h2>
                        <tr>
                            <div class="grid-item">
                                <label for="user">Usuario</label><br>
                                <input type="text" id="user" name="userName" class="text-input"  required><br>
                            </div>
                        </tr>

                        <tr>
                            <div class="grid-item">
                                <label for="Contraseña">Contraseña</label><br>
                                <input type="password" id="password" name="userPassword" class="text-input"  onblur="validarContrasenia()" required><br>
                            </div>
                        </tr>

                        <tr>
                            <div class="grid-item">
                                <label for="Confirmar contraseña">Confirmar contraseña</label><br>
                                <input type="password" id="confirmPassword" name="passConf" class="text-input"  onfocusout="confirmarContrasenia()" required><br>
                            </div>
                        </tr>
                    </table>

                    <div class="grid-item" align="center">
                        <button type="submit" class="boton" onclick="validarRegistro()">REGISTRARSE</button>
                    </div>
                </fieldset>-->

                <div class="grid-item" align="center">
                    <button type="submit" class="boton" onclick="validarRegistro()">REGISTRAR MASCOTA</button>
                </div>

            </form>
        </div>

        <script src="/js/sign-up.js"></script>
    </body>
</html>