<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reportar Mascota Perdida</title>

        <script defer src="/js/index.js"></script>
        <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>

        <link rel="shortcut icon" href="/img/icono-patitas.ico"/>

        <link rel="stylesheet" href="/css/barra-menu.css">
        <link rel="stylesheet" href="/css/reportar-mascota.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <header class="header">
            <nav class="menu">
                <a href="/" class="logo"><img src="/img/home-logo.png"></a>
                <button class="toggle"><i class="fas fa-bars"></i></button>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/mascotas-en-adopcion">ADOPTAR</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/dar-mascota-adopcion">DAR EN ADOPCIÓN</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/reportar-mascota">REPORTAR</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/mascotas-perdidas">MASCOTAS PERDIDAS</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link nav-menu-link_Active" href="/registrar-mascota">REGISTRAR MASCOTAS</a></li>
                </ul>
            </nav>
        </header>
        <h2 class="subtitulo">Complete el siguiente formulario para reportar a una mascota perdida</h2>
        <a class="subtitulo2">
            Si la mascota posee una chapita, escanee el código QR y complete los datos para notificarle al dueño
            <br>
            En caso de no tenerla, por favor, complete el siguiente formulario para crear una publicación en el sitio
        </a>
        <form action="/reportar-mascota" method="post" class="form1">

            <div class="grid-item">
                <label for="name">Nombre<br></label>
                <input type="text" id="name" name="nombre" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="surname">Apellido<br></label>
                <input type="text" id="surname" name="apellido" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" id="date" name="fechaDeNacimiento" class="fecha" value="aa-mm-dd" min="1930-01-01" max="2004-01-01" required>
            </div>

            <div class="grid-item">
                <label for="email">Email<br></label>
                <input type="text" id="email" name="email" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="doc-type">Tipo de documento<br></label><br>
                <select class="doc"  id="doc-type" name="tipoDoc" required>
                    <option value="DNI">DNI</option>
                    <option value="CEDULA">Cedula</option>
                    <option value="PASAPORTE">Pasaporte</option>
                </select>
            </div>

            <div class="grid-item">
                <label for="n-doc">Número de documento<br></label>
                <input type="text" id="n-doc" name="nroDocumento" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="cel">Teléfono / Celular<br></label>
                <input type="text" id="cel" name="telefono" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="notification">Formas de notificación<br></label><br>
                <a><input class="check" type="checkbox" name="SMS"> SMS</a>
                <a><input class="check" type="checkbox" name="EMAIL"> Email</a>
                <a><input class="check" type="checkbox" name="WHATSAPP"> WhatsApp</a>
            </div>

            <div class="grid-item">
                <label for="name">Provincia<br></label>
                <input type="text" id="provincia" name="provincia" class="text-input">
            </div>

            <div class="grid-item">
                <label for="date">Localidad<br></label>
                <input type="text" id="localidad" name="localidad" class="text-input">
            </div>

            <div class="grid-item">
                <label for="email">Código Postal<br></label>
                <input type="text" id="cp" name="codigoPostal" class="text-input">
            </div>

            <div class="grid-item">
                <label for="name">Calle<br></label>
                <input type="text" id="calle" name="calle" class="text-input">
            </div>

            <div class="grid-item">
                <label for="name">Numeración<br></label>
                <input type="text" id="numeracion" name="numeracion" class="text-input">
            </div>

            <div class="grid-item">
                <label for="name">Departamento <br></label>
                <input type="text" id="dpto" name="departamento" class="text-input">
            </div>

            <div class="grid-item">
                <label for="name">Piso <br></label>
                <input type="text" id="piso" name="piso" class="text-input">
            </div>


            <br><br><br>



            <h3 class="subtitulo3">Agregar contacto</h3>
            <br>

            <div class="grid-item">
                <label for="name">Nombre<br></label>
                <input type="text" id="name" name="nombre" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="surname">Apellido<br></label>
                <input type="text" id="surname" name="apellido" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="email">Email<br></label>
                <input type="text" id="email" name="email" class="text-input" required>
            </div>

            <div class="grid-item">
                <label for="cel">Teléfono / Celular<br></label>
                <input type="text" id="cel" name="telefono" class="text-input" required>
            </div>
            <div></div>
            <div class="grid-item">
                <label for="notification">Formas de notificación<br></label><br>
                <a><input class="check" type="checkbox" name="SMS"> SMS</a>
                <a><input class="check" type="checkbox" name="EMAIL"> Email</a>
                <a><input class="check" type="checkbox" name="WHATSAPP"> WhatsApp</a>
            </div>

            <div class="grid-item">
                <label for="name">Descripción del estado de la mascota<br></label>
                <input type="text" id="name" name="descripcionMascota" class="text-input">

            </div>
            <div class="grid-item">
                <label for="date">Fotos<br></label>
                <br>
                <input type="file" name="imagen1" />
                <input type="submit" name="subir-imagen" value="Enviar imagen" />
            </div>
            <div></div>

            <br><br><br><br>
            <h3 class="subtitulo3">Hogar de tránsito</h3>
            <div></div><div></div>
            <div class="grid-item">
                <text class="texto"><br>¿Puede ser hogar de tránsito para la mascota?</text>
                <input class="si-no" type="radio" name="si-no" value="true">Si
                <input class="si-no2" type="radio" name="si-no" value="false">No
            </div>
            <div></div>
            <div class="grid-item">
                <label for="tipoAnimal">Tipo de Animal<br></label>
                <input class="radio" type="radio" name="tipoAnimal" value="PERRO">Perro
                <input class="radio" type="radio" name="tipoAnimal" value="GATO">Gato
            </div>

            <div class="grid-item">
                <label for="sexo">Sexo<br></label>
                <input class="radio" type="radio" name="sexoMascota" value="HEMBRA">Hembra
                <input class="radio" type="radio" name="sexoMascota" value="MACHO">Macho
            </div>

            <div class="grid-item">
                <label for="tamanioMascota">Tamaño<br></label>
                <input class="radio" type="radio" name="tamanioMascota" value="PEQUENIA">Chico
                <input class="radio" type="radio" name="tamanioMascota" value="MEDIANA">Mediano
                <input class="radio" type="radio" name="tamanioMascota" value="GRANDE">Grande
            </div>

            <fieldset>
                <text class="texto"><br>¿Puede albergar a la mascota o desea buscar un Hogar de Tránsito adecuado?</text>
                <!-- Si selecciona SI debería llevarlo al siguiente fieldset-->
                <input type="button" class="button" name="albergarMascota" value="SI" />
                <!-- Si selecciona NO debería simplemente registrar a la mascota y mandarlo a home-->
                <input type="button" class="button" name="albergarMascota" value="NO" />
            </fieldset>


            <div class="grid-item">
                <label for="radio">Radio de cercanía (en Km) <br></label>
                <input type="text" id="text" name="radioKM" class="text-input">
            </div>
            <div></div>
            <div class="grid-item">
                <label for="notification">Características<br></label>
                <!-- aca deberían ir características para ver que tipo de animal aceptan, tranquilo, jugueton blabla -->
                <select class="doc" id="Caracteristicas" name="">
                    <option value="">Opción 1</option>
                    <option value="">Opción 2</option>
                </select>
            </div>


            <div></div><div></div>

            <br>
            <button type="submit" class="boton">CREAR PUBLICACIÓN</button>

        </form>
    </div>
    </body>
</html>