<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/img/icono-patitas.ico"/>

        <link rel="stylesheet" href="/css/sign-up.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">

        <title>Reportar Mascota Perdida</title>
    </head>

    <body>
    <div class="container">
        <header>
            <nav class="menu">
                <a href="/" class="logo">
                    <img src="/img/home-logo.png" alt="" width="81px">
                </a>
                <ul>
                    <li><a href="/mascotas-en-adopcion" class="nav-link">ADOPTAR</a></li>
                    <li><a href="/dar-mascota-adopcion" class="nav-link">DAR EN ADOPCIÓN</a></li>
                    <li><a href="/reportar-mascota" class="nav-link">REPORTAR</a></li>
                    <li><a href="/mascotas-perdidas" class="nav-link">MASCOTAS PERDIDAS</a></li>
                    <li><a href="/registrar-mascota" class="nav-link">REGISTRAR MASCOTAS</a></li>
                </ul>
            </nav>
        </header>

        <form href="/reportar-mascota" method="post" class="form1 needs-validation" novalidate>
            <fieldset>
                <h2 class="subtitulo">Complete el siguiente formulario para reportar a una mascota perdida</h2>
                <h4 class="texto">
                    Si la mascota posee una chapita, escanee el código QR y complete los datos para notificarle al dueño
                    <br>
                    En caso de no tenerla, por favor, complete el siguiente formulario para crear una publicación en el sitio
                </h4>

                <table class="tabla" align="center">
                    <h2 class="subtitulo">Complete el siguiente formulario con sus datos personales</h2>

                    <tr>
                        <td>
                            <div class="grid-item">
                                <label for="name">Nombre<br></label>
                                <input type="text" id="name" name="nombre" class="text-input" required>
                            </div>
                        </td>

                        <td>
                            <div class="grid-item">
                                <label for="surname">Apellido<br></label>
                                <input type="text" id="surname" name="apellido" class="text-input" required>
                            </div>
                        </td>

                        <td>
                            <div class="grid-item">
                                <label for="date">Fecha de Nacimiento<br></label>
                                <input type="date" id="date" name="fechaDeNacimiento" class="fecha" value="yyyy-MM-dd" min="1930-01-01" max="2004-01-01" required>
                            </div>
                        </td>

                        <td>
                            <div class="grid-item">
                                <label for="email">Email<br></label>
                                <input type="text" id="email" name="email" class="text-input" required>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="grid-item">
                                <label for="doc-type">Tipo de documento<br></label>
                                <select id="doc-type" name="tipoDoc" required>
                                    <option value="DNI">DNI</option>
                                    <option value="CEDULA">Cedula</option>
                                    <option value="PASAPORTE">Pasaporte</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="grid-item">
                                <label for="n-doc">Número de documento<br></label>
                                <input type="text" id="n-doc" name="nroDocumento" class="text-input" required>
                            </div>
                        </td>

                        <td>
                            <div class="grid-item">
                                <label for="cel">Teléfono / Celular<br></label>
                                <input type="text" id="cel" name="telefono" class="text-input" required>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="grid-item">
                                <label for="notification">Medio de Notificación preferido<br></label>
                                <select id="notification" name="notificacion">
                                    <option value="WHATSAPP">WhatsApp</option>
                                    <option value="SMS">SMS</option>
                                    <option value="EMAIL">Email</option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="grid-item">
                                <label for="contact">Contactos</label>
                                <select id="contact">
                                    <option></option>
                                </select>
                                <button for="contact">Agregar contacto<br></button>
                                <form>
                                    <div class="grid-item">
                                        <label for="name">Nombre y Apellido<br></label>
                                        <input type="text" id="name" class="text-input">
                                    </div>

                                    <div class="grid-item">
                                        <label for="email">Email<br></label>
                                        <input type="text" id="email" class="text-input">
                                    </div>

                                    <div class="grid-item">
                                        <label for="cel">Teléfono / Celular<br></label>
                                        <input type="text" id="cel" class="text-input">
                                    </div>

                                    <div class="grid-item">
                                        <label for="notification">Formas de notificación<br></label>
                                        <select id="notification" name="">
                                            <option value="WhatsApp">WhatsApp</option>
                                            <option value="SMS">SMS</option>
                                            <option value="Email">Email</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="boton">AGREGAR CONTACTO</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="grid-item">
                                <label for="provincia">Provincia<br></label>
                                <input type="text" id="provincia" name="provincia" class="text-input">
                            </div>
                        </td>
                        <td>
                            <div class="grid-item">
                                <label for="localidad">Localidad<br></label>
                                <input type="text" id="localidad" name="localidad" class="text-input" required>
                            </div>
                        </td>
                        <td>
                            <div class="grid-item">
                                <label for="cp">Código Postal<br></label>
                                <input type="text" id="cp" name="codigoPostal" class="text-input" required>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="grid-item">
                                <label for="calle">Calle<br></label>
                                <input type="text" id="calle" name="calle" class="text-input" required>
                            </div>
                        </td>
                        <td>
                            <div class="grid-item">
                                <label for="numeracion">Numeración<br></label>
                                <input type="text" id="numeracion" name="numeracion" class="text-input" required>
                            </div>
                        </td>
                        <td>
                            <div class="grid-item">
                                <label for="depto">Departamento <br></label>
                                <input type="text" id="depto" name="departamento" class="text-input">
                            </div>
                        </td>
                        <td>
                            <div class="grid-item">
                                <label for="piso">Piso <br></label>
                                <input type="text" id="piso" name="piso" class="text-input">
                            </div>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <label for="descripcion">Descripción del estado en el cual encontró a la mascota<br></label>
                            <input type="text" id="descripcion" name="descripcionMascota" class="text-input">
                        </td>

                        <td>
                            <label for="tipo">Tipo de Animal<br></label>
                            <input type="radio" id="tipo" name="tipoAnimal" value="PERRO">Perro
                            <input type="radio" id="tipo" name="tipoAnimal" value="GATO">Gato
                        </td>

                        <td>
                            <label for="tamanio">Tamaño<br></label>
                            <input type="radio" id="tamanio" name="tamanioAnimal" value="PEQUENIA">Pequeña
                            <input type="radio" id="tamanio" name="tamanioAnimal" value="MEDIANA">Mediana
                            <input type="radio" id="tamanio" name="tamanioAnimal" value="GRANDE">Grande
                        </td>

                        <td>
                            <!-- help, no pude sacar la api de google para crear el mapita, me tiro mil errores, tiene que ser con la cuenta de la facu
                            porque te piden una organización -->
                        </td>
                    </tr>

                    <tr>
                        <label for="date">Fotos<br></label>
                        <input type="file" name="imagen1" />
                        <input type="submit" name="subir-imagen" value="Enviar imagen" />
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <text class="texto"><br>¿Puede albergar a la mascota o desea buscar un Hogar de Tránsito adecuado?</text>
                <!-- Si selecciona SI debería llevarlo al siguiente fieldset-->
                <input type="button" class="button" name="albergarMascota" value="SI" />
                <!-- Si selecciona NO debería simplemente registrar a la mascota y mandarlo a home-->
                <input type="button" class="button" name="albergarMascota" value="NO" />
            </fieldset>

            <fieldset>
                <table>
                    <tr>
                        <td>
                            <label for="radio">Radio de cercanía (en Km)<br></label>
                            <input type="text" id="radio" name="radioKM" class="text-input">
                        </td>
                        <td>
                            <label for="notification">Características<br></label>
                            <!-- aca deberían ir características para ver que tipo de animal aceptan, tranquilo, jugueton blabla -->
                            <select id="Caracteristicas" name="">
                                <option value="">Opción 1</option>
                                <option value="">Opción 2</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <a href="#">
                    <button type="submit" class="boton">BUSCAR</button>
                </a>
            </fieldset>

            <div class="grid-item" align="center">
                <button type="submit" class="boton" onclick="validarRegistro()">REPORTAR MASCOTA</button>
            </div>
        </form>
    </div>

    </body>
</html>